* {
    font-family: Arial, Helvetica, sans-serif;

}
header {
    height: 100px;
}

#logo {
    padding: 20px;
}

h1 {
    font-size: 25px;
    display: inline-block;
}

main {
    background-color: lightgray;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.container {
    height: 500px;
    max-width: 900px;
    margin: auto;
    padding: 60px;
    background-color: white;
}

/* h3  {
    display: inline;
}
button{
    display: inline-block;
}
/* span {
    display: inline-block;
} */ */