* {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 50px;
    padding: 10px;
}

#logo {
    padding: 20px;
    
}

h1 {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    font-weight: 900;
}

main {
    background-color: rgb(243, 239, 239);
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.container {
    height: 600px;
    max-width: 900px;
    margin: auto;
    padding: 60px;
    background-color: white;
}

 h3  {
    display: inline;
}

button{
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
}
 span {
    display: inline-block;
} 

section {
    padding: 25px;
}

.editorial {
    background-color: rgb(59, 155, 184);
}

#violet {
    background-color: violet;
}

#lightgreen {
    background-color: lightgreen;
}

#orange {
    background-color: orange;
}

#deepviolet {
    background-color: blueviolet;
}

#green {
    background-color: green;
}